@use "../global";

#pricing {
  .pricing-row {
    padding-top: 168px;
    .pricing-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height, or 133% */
        max-width: 414px;
        /* Dark blue */

        color: #282938;
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        margin-top: 16px;
        max-width: 562px;

        text-align: center;

        /* Dark blue */

        color: #282938;

        opacity: 0.7;
      }
    }

    .pricing-content {
      margin-bottom: 128px;
      .card-pricing {
        margin-top: 14px;
        background: #f4f6fc;
        border-radius: 12px;
        padding: 64px 76px 62px 48px;
        transition: 0.5s;

        &:hover {
          background: #1c1e53;
          transform: scale(1.02);
          box-shadow: 0 5px 10px 5px grey;
          .card-box {
            color: white;
            h2 {
              color: white !important;
            }

            a {
              color: #fcd980;
            }
          }

          h1,
          p {
            color: white;
          }

          .btn {
            button {
              color: #282938;
              background: #fcd980;
            }
          }
        }

        .card-box {
          display: flex;
          align-items: center;
          gap: 8px;
          h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 56px;
            color: #282938;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #2405f2;
          }
        }
        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          max-width: 180px;
          margin-top: 20px;
          color: #282938;
        }
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          /* or 175% */
          max-width: 281px;
          margin-top: 8px;
          /* Dark blue */

          color: #282938;

          opacity: 0.7;
        }

        ul {
          margin-top: 58px;
          list-style-image: url(../../images/pricing/play-icon.svg);

          li {
            margin-top: 20px;
          }
        }

        .btn {
          margin-top: 95px;
          display: flex;
          justify-content: center;

          button {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            padding: 16px 77px;
            background: #282938;
            border-radius: 41px;
            text-align: center;
            color: #f4f6fc;
            transition: 0.5s;
            border: none;
          }
        }
      }
    }
  }
}

/**/
.accord-left {
  h1 {
    max-width: 406px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
  }
  p {
    padding: 16px 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #2405f2;
  }
}

.accordion-section {
  padding-bottom: 100px;
}

.numb {
  margin-right: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2405f2;
}

.question {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  opacity: 0.87;
}

.accordion-button::after {
  background-image: url(../../images/pricing/plus.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../images/pricing/x.svg);
}

/**/

@media (min-width: 600px) {
  .plan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (min-width: 700px) {
  .accordion-tema {
    display: flex;
    gap: 50px;
  }
  .accord-left {
    width: 33%;
  }
  .accordion-section {
    width: 63%;
  }
}

@media (min-width: 800px) {
  .plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .pricing-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
}

@media (min-width: 1200px) {
  .pricing-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
